.knowl {
	color: #00a;
	background-color: #eef;
	border: 1px solid #88f;
	border-radius: 3px;
	cursor: pointer;

	[data-bs-theme='dark'] & {
		color: #eef;
		background-color: #00a;
		border-color: #88f;
	}

	&:hover {
		color: #006;
		background-color: #ccf;
		border-color: #33f;

		[data-bs-theme='dark'] & {
			color: #ccf;
			background-color: #006;
		}
	}

	&:focus-visible {
		border-color: #33f;
		box-shadow: 0px 0px 0px 0.2rem #5555ff88;
		outline: 0;

		[data-bs-theme='dark'] & {
			box-shadow: 0px 0px 0px 0.2rem #7777ffff;
		}
	}
}

li > .knowl {
	margin: 0.2rem 0;
}

.knowl-dialog {
	.knowl-error {
		color: darkred;

		[data-bs-theme='dark'] & {
			color: #f99;
		}
	}

	.knowl-footer {
		font-size: x-small;
		background-color: #eef;
		color: #555;

		[data-bs-theme='dark'] & {
			background-color: #110;
			color: #dbdbdb;
		}
	}

	.knowl-code {
		color: black;

		[data-bs-theme='dark'] & {
			color: white;
		}
	}

	.knowl-alert-danger {
		color: #b00;

		[data-bs-theme='dark'] & {
			color: #f99;
		}
	}
}

// MathJax sets the z-index to 200 which is far below a modal dialog at 1055. So raise that above the modal dialog.
// This is really a bug in MathJax. MathJax should handle this differently.
.CtxtMenu_MenuFrame {
	z-index: 1060 !important;

	.CtxtMenu_Menu {
		z-index: 1060;
	}
}
