.graphtool-container {
	width: 400px;

	@media only screen and (max-width: 600px) {
		width: 300px;
	}

	.graphtool-graph {
		width: 400px;
		height: 400px;

		@media only screen and (max-width: 600px) {
			width: 300px;
			height: 300px;
		}

		.hidden-fill-point:focus {
			outline-offset: 5px;
		}
	}

	.gt-toolbar-container {
		margin: 0.5rem 0;
		text-align: right;
		width: 100%;
		padding: 0;

		.gt-button-div {
			display: inline-block;
			box-sizing: border-box;
			height: 38px;
		}

		.gt-button {
			box-sizing: border-box;
			height: 34px;
			text-align: center;
			padding: 1px;
			margin: 2px;
			border-radius: 4px;
			border: 1px solid #ccc !important;
		}

		.gt-tool-button {
			width: 34px;
			background-position: 0;

			&:disabled {
				box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
				outline: 0;
				opacity: unset;
			}
		}

		.gt-solid-dash-box {
			display: inline-block;
			box-sizing: border-box;
			height: 38px;
			padding: 0;
			vertical-align: middle;

			.gt-solid-button-div {
				display: block;
				height: 20px;
			}

			.gt-dashed-button-div {
				display: block;
				height: 18px;
			}
		}

		.gt-solid-tool {
			height: 16px;
			vertical-align: top;
			margin: 2px 2px 0 2px;
			border-radius: 4px 4px 0 0;
			background-image: url('images/SolidTool.svg');
		}

		.gt-dashed-tool {
			height: 16px;
			vertical-align: top;
			margin: 0 2px 2px 2px;
			border-radius: 0 0 4px 4px;
			background-image: url('images/DashTool.svg');
		}

		.gt-tool-button {
			&.gt-select-tool {
				background-image: url('images/SelectTool.svg');
			}

			&.gt-point-tool {
				background-image: url('images/PointTool.svg');
			}

			&.gt-line-tool {
				background-image: url('images/LineTool.svg');
			}

			&.gt-circle-tool {
				background-image: url('images/CircleTool.svg');
			}

			&.gt-vertical-parabola-tool {
				background-image: url('images/VerticalParabolaTool.svg');
			}

			&.gt-horizontal-parabola-tool {
				background-image: url('images/HorizontalParabolaTool.svg');
			}

			&.gt-fill-tool {
				background-image: url('images/FillTool.svg');
			}
		}
	}
}

.graphtool-answer-container {
	width: 100%;

	.graphtool-graph {
		margin: auto;
		width: 200px;
		height: 200px;

		@media only screen and (max-width: 600px) {
			width: 150px;
			height: 150px;
		}
	}
}

.gt-modal {
	h3 {
		margin: 0;
		font-size: 1.2rem;
	}
}
