/* WeBWorK Online Homework Delivery System
 * Copyright &copy; 2000-2023 The WeBWorK Project, https://github.com/openwebwork
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of either: (a) the GNU General Public License as published by the
 * Free Software Foundation; either version 2, or (at your option) any later
 * version, or (b) the "Artistic License" which comes with this package.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE.  See either the GNU General Public License or the
 * Artistic License for more details.
 */

/* Styles used in pg problems and by the attempts table. */

.problem-main-form {
	margin: 0.5rem 0 0;
}

.problem-content {
	min-height: 20px;
	padding: 0.75rem;
	margin-bottom: 1rem;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

	p {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	/* Problem elements */
	label,
	input[type='text'],
	select,
	textarea {
		font-weight: normal;
		line-height: 18px;
		width: auto;
	}

	select,
	textarea,
	input[type='text'] {
		display: inline-block;
		padding: 4px 6px;
		margin-bottom: 0;
		color: #555;
		vertical-align: middle;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: white;
	}

	textarea,
	input[type='text'] {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	input[type='text'] {
		height: 30px;
		font-size: 14px;
		line-height: 20px;
	}

	select,
	input[type='text'],
	input[type='radio'],
	input[type='checkbox'],
	span[id^='mq-answer'],
	.graphtool-container {
		&.correct:not(:focus):not(.mq-focused) {
			border-color: rgba(81, 153, 81, 1); /* green */
			outline: 0;
			box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 0 8px 2px rgba(81, 153, 81, 1);
		}

		&.incorrect:not(:focus):not(.mq-focused) {
			border-color: rgba(191, 84, 84, 1); /* red */
			outline: 0;
			box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 0 8px 2px rgba(191, 84, 84, 1);
		}

		&.partially-correct:not(:focus):not(.mq-focused) {
			border-color: rgba(255, 193, 7, 1); /* yellow */
			outline: 0;
			box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.25), 0 0 8px 2px rgba(255, 193, 7, 1);
		}
	}

	input[type='radio'] {
		margin-right: 0.25rem;
	}

	select {
		cursor: pointer;

		&[multiple],
		&[size] {
			height: auto;
		}
	}

	textarea {
		max-width: 100%;
	}

	input[type='text'],
	input[type='radio'],
	textarea,
	select {
		&:focus {
			border-color: rgba(82, 168, 236, 0.8);
			outline: 0;
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px 2px rgba(82, 168, 236, 0.6);
		}
	}

	.pg-table {
		text-align: center;
		thead,
		tbody,
		tfoot,
		tr,
		td,
		th {
			padding: 0.25rem;
			border: 1px solid black;
		}
	}

	.ww-feedback-btn {
		width: 25px;
		line-height: 1;
		position: relative;
		--bs-btn-padding-x: 2px;
		--bs-btn-padding-y: 2px;

		i {
			&::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' stroke='none'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
			}

			&.correct::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='white' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
			}

			&.incorrect::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='none' stroke='white'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='white' stroke='none'/></svg>");
			}

			&.partially-correct::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black' stroke='none'><path d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z'/><path d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z'/></svg>");
			}
		}

		&.with-message::before {
			content: ' ';
			position: absolute;
			transform: translate(-50%, -50%);
			top: 0;
			left: 100%;
			border: 1px solid black;
			border-radius: 50%;
			background-color: #dc3545;
			padding: 0.25rem;
		}
	}

	.radio-buttons-container,
	.checkboxes-container,
	.applet-container,
	.graphtool-outer-container,
	.ww-feedback-container {
		position: relative;
		width: fit-content;

		.ww-feedback-btn {
			position: absolute;
			left: 100%;
			top: 0;
			margin-left: 0.25rem;
		}

		&.align-middle {
			.ww-feedback-btn {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&.align-bottom {
			.ww-feedback-btn {
				top: unset;
				bottom: 0;
			}
		}
	}
}

/* rtl:raw:
.problem-content[dir=ltr] input[type=radio] {
	margin-right: 0.25rem;
}
*/

/* Feedback */

.ww-feedback-popover {
	--bs-popover-body-padding-x: 0;
	--bs-popover-body-padding-y: 0;
	--bs-popover-max-width: 600px;
	--bs-popover-zindex: 18;
	display: inline;
	min-width: 200px;

	.popover-header {
		text-align: center;
	}

	&.correct {
		.popover-header {
			--bs-popover-header-bg: var(--bs-success);
			--bs-popover-header-color: white;
			cursor: pointer;
		}
	}

	&.incorrect {
		.popover-header {
			--bs-popover-header-bg: var(--bs-danger);
			--bs-popover-header-color: white;
		}
	}

	&.partially-correct {
		.popover-header {
			--bs-popover-header-bg: var(--bs-warning);
		}
	}

	.popover-body {
		.card {
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			--bs-card-spacer-y: 0.5rem;
			--bs-card-cap-bg: #ddd;

			.card-header {
				border-radius: 0;

				&:not(:first-child) {
					border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
				}
			}

			.card-body {
				mjx-container {
					margin: 0;
				}

				.parsehilight {
					background-color: yellow;
				}

				.ArrayLayout {
					td {
						border-style: none;
						border-width: 0px;
						padding: 0px;
						background-color: transparent;
					}
				}

				&.feedback-message {
					background-color: #ede275;
				}
			}
		}
	}
}

/* Comments */

div.AuthorComment {
	background-color: #00e0e0;
	color: black;
	padding: 0.25rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
