/* Styles used in pg problems. */

.problem-main-form {
	margin: 0.5rem 0 0;
}

.problem-content {
	min-height: 20px;
	padding: 0.75rem;
	margin-bottom: 1rem;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

	p {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	/* Problem elements */
	label,
	input[type='text'],
	select,
	textarea {
		font-weight: normal;
		line-height: 18px;
		width: auto;
	}

	select,
	textarea,
	input[type='text'] {
		display: inline-block;
		padding: 4px 6px;
		margin-bottom: 0;
		color: #555;
		vertical-align: middle;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: white;
	}

	textarea,
	input[type='text'] {
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}

	input[type='text'] {
		height: 30px;
		font-size: 14px;
		line-height: 20px;
	}

	select,
	input[type='text'],
	input[type='radio'],
	input[type='checkbox'],
	span[id^='mq-answer'],
	.pg-dropdown .btn.dropdown-toggle,
	.graphtool-container {
		&.correct:not(:focus):not(.mq-focused) {
			border-color: rgba(81, 153, 81, 0.8); /* green */
			outline: 0;
			box-shadow:
				inset 0 0 2px 1px rgba(0, 0, 0, 0.25),
				0 0 0 0.2rem rgba(81, 153, 81, 0.5);
		}

		&.incorrect:not(:focus):not(.mq-focused) {
			border-color: rgba(191, 84, 84, 0.8); /* red */
			outline: 0;
			box-shadow:
				inset 0 0 2px 1px rgba(0, 0, 0, 0.25),
				0 0 0 0.2rem rgba(191, 84, 84, 0.5);
		}

		&.partially-correct:not(:focus):not(.mq-focused) {
			border-color: rgba(255, 193, 7, 1); /* yellow */
			outline: 0;
			box-shadow:
				inset 0 0 2px 1px rgba(0, 0, 0, 0.25),
				0 0 0 0.2rem rgba(255, 193, 7, 0.8);
		}
	}

	input[type='radio'] {
		margin-right: 0.25rem;
	}

	select {
		cursor: pointer;

		&[multiple],
		&[size] {
			height: auto;
		}
	}

	textarea {
		max-width: 100%;
	}

	input[type='text'],
	input[type='radio'],
	input[type='checkbox'],
	textarea,
	.pg-dropdown .btn.dropdown-toggle,
	select {
		&:focus {
			border-color: rgba(112, 154, 192, 0.8);
			outline: 0;
			box-shadow:
				inset 0 1px 1px rgba(0, 0, 0, 0.25),
				0 0 0 0.2rem rgba(136, 187, 221, 0.8);
		}
	}

	.pg-table {
		text-align: center;
		thead,
		tbody,
		tfoot,
		tr,
		td,
		th {
			padding: 0.25rem;
			border: 1px solid black;
		}
	}

	.ww-feedback-btn {
		width: 25px;
		line-height: 1;
		position: relative;
		--bs-btn-padding-x: 2px;
		--bs-btn-padding-y: 2px;

		i {
			&::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white' stroke='none'><path d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z'/></svg>");
			}

			&.correct::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='white' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
			}

			&.incorrect::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' fill='none' stroke='white'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='white' stroke='none'/></svg>");
			}

			&.partially-correct::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black' stroke='none'><path d='M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z'/><path d='M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z'/></svg>");
			}

			&.unknown::before {
				content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><!--!Font Awesome Free v7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--><path d='M528 320C528 205.1 434.9 112 320 112C205.1 112 112 205.1 112 320C112 434.9 205.1 528 320 528C434.9 528 528 434.9 528 320zM64 320C64 178.6 178.6 64 320 64C461.4 64 576 178.6 576 320C576 461.4 461.4 576 320 576C178.6 576 64 461.4 64 320zM320 240C302.3 240 288 254.3 288 272C288 285.3 277.3 296 264 296C250.7 296 240 285.3 240 272C240 227.8 275.8 192 320 192C364.2 192 400 227.8 400 272C400 319.2 364 339.2 344 346.5L344 350.3C344 363.6 333.3 374.3 320 374.3C306.7 374.3 296 363.6 296 350.3L296 342.2C296 321.7 310.8 307 326.1 302C332.5 299.9 339.3 296.5 344.3 291.7C348.6 287.5 352 281.7 352 272.1C352 254.4 337.7 240.1 320 240.1zM288 432C288 414.3 302.3 400 320 400C337.7 400 352 414.3 352 432C352 449.7 337.7 464 320 464C302.3 464 288 449.7 288 432z'/></svg>");
			}
		}

		&.with-message::before {
			content: ' ';
			position: absolute;
			transform: translate(-50%, -50%);
			top: 0;
			left: 100%;
			border: 1px solid black;
			border-radius: 50%;
			background-color: #ffc107;
			padding: 0.25rem;
			animation: flash-in 0.75s;

			@keyframes flash-in {
				0% {
					filter: brightness(2);
					padding: 0.25rem;
				}

				50% {
					filter: brightness(2);
					padding: 0.5rem;
				}
			}
		}
	}

	/* Feedback button colors. */
	.btn-correct {
		--bs-btn-color: #fff;
		--bs-btn-bg: #198754;
		--bs-btn-border-color: #198754;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #157347;
		--bs-btn-hover-border-color: #146c43;
		--bs-btn-focus-shadow-rgb: 60, 153, 110;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #146c43;
		--bs-btn-active-border-color: #13653f;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #198754;
		--bs-btn-disabled-border-color: #198754;
	}

	.btn-incorrect {
		--bs-btn-color: #fff;
		--bs-btn-bg: #dc3545;
		--bs-btn-border-color: #dc3545;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #bb2d3b;
		--bs-btn-hover-border-color: #b02a37;
		--bs-btn-focus-shadow-rgb: 225, 83, 97;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #b02a37;
		--bs-btn-active-border-color: #a52834;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #dc3545;
		--bs-btn-disabled-border-color: #dc3545;
	}

	.btn-partially-correct {
		--bs-btn-color: #000;
		--bs-btn-bg: #ffc107;
		--bs-btn-border-color: #ffc107;
		--bs-btn-hover-color: #000;
		--bs-btn-hover-bg: #ffca2c;
		--bs-btn-hover-border-color: #ffc720;
		--bs-btn-focus-shadow-rgb: 217, 164, 6;
		--bs-btn-active-color: #000;
		--bs-btn-active-bg: #ffcd39;
		--bs-btn-active-border-color: #ffc720;
		--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		--bs-btn-disabled-color: #000;
		--bs-btn-disabled-bg: #ffc107;
		--bs-btn-disabled-border-color: #ffc107;
	}

	.btn-preview {
		--bs-btn-color: #fff;
		--bs-btn-bg: #1a67ea;
		--bs-btn-border-color: #1a67ea;
		--bs-btn-hover-color: #fff;
		--bs-btn-hover-bg: #1658c7;
		--bs-btn-hover-border-color: #1552bb;
		--bs-btn-focus-shadow-rgb: 60, 126, 237;
		--bs-btn-active-color: #fff;
		--bs-btn-active-bg: #1552bb;
		--bs-btn-active-border-color: #144db0;
		--bs-btn-active-shadow: inset 0 3px 5px #00000020;
		--bs-btn-disabled-color: #fff;
		--bs-btn-disabled-bg: #1a67ea;
		--bs-btn-disabled-border-color: #1a67ea;
	}

	.radio-buttons-container,
	.checkboxes-container {
		max-width: calc(100% - 1rem - 25px);
	}

	.radio-buttons-container,
	.checkboxes-container,
	.applet-container,
	.graphtool-outer-container,
	.ww-feedback-container {
		position: relative;
		width: fit-content;

		.ww-feedback-btn {
			position: absolute;
			left: 100%;
			top: 0;
			margin-left: 0.25rem;
		}

		&.ww-fb-align-middle {
			.ww-feedback-btn {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&.ww-fb-align-bottom {
			.ww-feedback-btn {
				top: unset;
				bottom: 0;
			}
		}
	}
}

.image-container {
	.image-details-content {
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: max-content;
		max-width: 90%;
		box-shadow: 0 0 100px black;
		border-radius: 4px;
		z-index: 10;
	}

	.image-details-btn {
		--bs-btn-padding-y: 0.1rem;
		--bs-btn-padding-x: 0.35rem;
		--bs-btn-font-size: 0.65rem;
		--bs-btn-border-radius: 0.375rem;
	}
}

/* rtl:raw:
.problem-content[dir=ltr] input[type=radio] {
	margin-right: 0.25rem;
}
*/

/* Feedback */

.ww-feedback-popover {
	--bs-popover-body-padding-x: 0;
	--bs-popover-body-padding-y: 0;
	--bs-popover-max-width: 600px;
	--bs-popover-zindex: 17;
	position: absolute;

	.popover-header {
		text-align: center;
		cursor: pointer;
		--bs-popover-header-bg: #1a67ea;
		--bs-popover-header-color: white;

		.btn-close {
			--bs-btn-close-opacity: 0.75;
			--bs-btn-close-hover-opacity: 1;
			--bs-btn-close-focus-shadow: 0 0 0 0.15rem #00000080;
		}
	}

	&.correct {
		.popover-header {
			--bs-popover-header-bg: #198754;
			--bs-popover-header-color: white;
		}
	}

	&.incorrect {
		.popover-header {
			--bs-popover-header-bg: #dc3545;
			--bs-popover-header-color: white;
		}
	}

	&.partially-correct,
	&.unknown {
		.popover-header {
			--bs-popover-header-bg: #ffc107;
			--bs-popover-header-color: black;
		}
	}

	&:not(.correct-only) {
		min-width: 200px;

		.popover-body {
			.card {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				--bs-card-spacer-y: 0.5rem;
			}
		}
	}

	&.correct-only {
		.popover-body {
			.card {
				--bs-card-spacer-x: 0.25rem;
				--bs-card-spacer-y: 0.25rem;
			}
		}
	}

	.popover-body {
		.card {
			--bs-card-cap-bg: #ddd;

			.card-header {
				border-radius: 0;

				&:not(:first-child) {
					border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
				}
			}

			.card-body {
				mjx-container {
					margin: 0;
				}

				.parsehilight {
					background-color: yellow;
				}

				.ArrayLayout {
					td {
						border-style: none;
						border-width: 0px;
						padding: 0px;
						background-color: transparent;
					}
				}

				&.feedback-message {
					background-color: #ede275;
					&:not(:last-child) {
						border-bottom: 1px solid black;
					}
					&.arnie {
						aspect-ratio: 177 / 254;
						background-repeat: no-repeat;
						background-size: cover;
						background-image: url('/pg_files/images/apizer.jpg');
						color: white;
					}
					&.mike {
						aspect-ratio: 237 / 237;
						background-repeat: no-repeat;
						background-size: cover;
						background-image: url('/pg_files/images/gage.jpg');
						color: white;
					}
					&:last-child {
						border-bottom-left-radius: var(--bs-card-inner-border-radius);
						border-bottom-right-radius: var(--bs-card-inner-border-radius);
					}
				}

				&.resize-transition {
					overflow: clip;
					transition:
						max-height 1s ease-in,
						max-width 1s ease-in;
				}

				.fade-out {
					animation: fade-out 0.25s ease-in;

					@keyframes fade-out {
						0% {
							opacity: 1;
						}

						100% {
							opacity: 0;
						}
					}
				}

				.fade-in {
					animation: fade-in 0.5s ease-in;

					@keyframes fade-in {
						0% {
							opacity: 0;
						}

						100% {
							opacity: 1;
						}
					}
				}
			}
		}
	}
}

/* Comments */

div.AuthorComment {
	background-color: #00e0e0;
	color: black;
	padding: 0.25rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
