.knowl {
	display: inline;
	border-bottom: 2px dotted #00a;
	color: #00a;
	cursor: pointer;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	margin: 0;
	padding: 0 2px;
}

.knowl:hover,
.knowl.active {
	border-bottom: 2px solid #aaf;
	background: #ddf;
	color: #006;
	text-decoration: none;
}

.knowl.active:hover {
	background: #cce;
}

div > .knowl, p > .knowl {
	position: relative;
}

.knowl-content {
	padding: 10px;
	border-bottom-left-radius: 10px;
}

.knowl-content h1 {
	margin: 0 0 10px 0;
}

.knowl-content h2 {
	margin: 0 0 5px 0;
}

.knowl-content p {
	margin-bottom: 0;
	margin-top: 10px;
}

.knowl-output {
	background: #eef;
	border: 10px solid #ddf;
	border-radius: 10px;
	padding: 0;
	margin-top: 10px;
	margin-bottom: 0;
	margin-right: 0;
}

.knowl-output h1, .knowl-output h2 {
	margin: 5px 0;
}

.knowl-output h1 {
	color: #006;
}

.knowl-output h2 {
	color: #006;
}

.knowl-output a {
	display: inline;
}

.knowl-error {
	color: darkred;
	border-bottom: 0;
}

.knowl-footer {
	position: relative;
	bottom: -10px;
	font-size: x-small;
	background: #ddf;
	color: #555;
	padding: 4px 0 4px 10px;
	margin:  -10px 0 0 0;
}

.knowl-footer a {
	color: #006;
}

.knowl-footer a:hover {
	background: none;
	color: #88f;
}
