@use 'sass:color';

span[id^='mq-answer'] {
	/*rtl:ignore*/
	direction: ltr;
	padding: 4px;
	border-radius: 4px !important;
	background-color: white;
	margin-right: 0;
	margin-left: 0;
}

input[type='text'].codeshard.mq-edit {
	display: none !important;
}

.mq-latex-editor-container {
	max-width: 100%;

	.mq-latex-editor-inner-container {
		display: inline-block;
		max-width: 100%;

		.mq-latex-editor-textarea-container {
			position: relative;

			// This is redundant for the textarea in a problem, but is needed for a latex editor that is not in a
			// problem (for instance the comment textareas for the problem graders).
			.latexentryfield {
				margin-bottom: 0;
				padding: 4px 6px;
				vertical-align: middle;
				font-weight: 400;
				line-height: 18px;
				font-family:
					Helvetica Neue,
					Helvetica,
					Arial,
					sans-serif;
			}

			.mq-latex-editor-backdrop-container {
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: auto;
				text-size-adjust: none;
				visibility: hidden;

				.mq-latex-editor-backdrop {
					border: 1px solid transparent;
					padding: 4px 6px;
					line-height: 18px;
					white-space: pre-wrap;
					word-wrap: break-word;
					font-family:
						Helvetica Neue,
						Helvetica,
						Arial,
						Helvetica,
						sans-serif;
					color: transparent;
					visibility: hidden;

					mark {
						visibility: hidden;
					}

					&.mq-latex-editor-backdrop-show {
						visibility: visible;

						.mq-latex-editor-selection {
							visibility: visible;
							padding: 0;
							color: white;
							background-color: color.adjust(#3373e5, $lightness: 20%);

							&:empty {
								border-left: 1px solid #b0b0b0;
							}
						}

						&.mq-latex-editor-backdrop-blink .mq-latex-editor-selection:empty {
							visibility: hidden;
						}
					}
				}
			}
		}

		.mq-editable-field {
			flex-grow: 1;
		}
	}
}
