.dd-bucket-pool {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
	margin-bottom: 1rem;
}

.dd-container {
	display: flex;
	flex-direction: column;
	width: 350px;
	padding: 0.5rem;
	color: #000000;
	border: 1px solid #388E8E !important;
	border-radius: 5px;
	text-align: center;
}

.nestable-label {
	margin: 0 0 10px 0;
}

.dd-list {
	display: flex !important;
	flex-direction: column;
	gap: 0.5rem;
}

.dd {
	flex-grow: 1;
}

.dd-list, .dd-item {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 30px;
}

.dd-hidden {
	display: none;
}

.dd-empty, .dd-handle, .dd-placeholder {
	margin: 0 !important;
	min-height: 30px !important;
	box-sizing: border-box;
	border-radius: 5px;
}

.dd-empty {
	height: 100%;
}

.dd-handle {
	background: #f5f5f5 !important;
	border: 1px solid #388E8E !important;
	text-align: center !important;
	height: auto !important;
}

.dd-handle:hover {
	cursor: pointer;
	background: #EEE3CE;
	color: #222;
}

.dd-placeholder {
	background: #f2fbff;
	border: 1px dashed #b6bcbf;
}

.dd-dragel {
	position: absolute;
	pointer-events: none;
	z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
	margin-top: 0;
}

.dd-dragel .dd-handle {
	box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
	opacity: 0.8;
}

.dd-remove-bucket {
	margin-top: 0.5rem;
	align-self: center;
}

.dd-buttons {
	display: flex;
	gap: 0.25rem;
}
