.radio-multianswer-container {
	position: relative;
	width: fit-content;
	max-width: calc(100% - 1rem - 25px);

	.radio-container {
		display: flex;
		align-items: baseline;
		position: relative;
		width: fit-content;

		.radio-content {
			display: inline-block;
			margin-left: 5px;
			line-height: 26px;

			.radio-buttons-container,
			.checkboxes-container {
				max-width: 100%;
			}
		}

		input[type='radio'] {
			flex-shrink: 0;
			margin-left: 0;
			line-height: 26px;
			align-self: first baseline;
		}

		label {
			flex-shrink: 0;
			line-height: 26px;
		}

		input[disabled] {
			pointer-events: none;
		}

		.rma-state-disabled {
			opacity: 0.35;
		}

		.ww-feedback-btn {
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.ww-feedback-btn {
		position: absolute;
		left: 100%;
		top: 0;
	}
}
