.section-div {
	& > .accordion-header {
		& > button.accordion-button {
			color: #212121;
			padding: 0 1.25rem 0 0;
			border: 1px solid #aaa;
			box-shadow: none;

			span.section-title {
				padding-top: 2px;
			}

			span.section-number {
				padding: 0 0.25rem;
				min-width: 1.25rem;
				font-weight: bold;
			}
		}

		&.cannotopen > button.accordion-button::after {
			display: none;
		}

		&.canopen > button.accordion-button {
			background: yellow;
		}

		&.iscorrect > button.accordion-button {
			background: lightgreen;
		}

		&.cannotopen {
			& > button.accordion-button {
				background: #eee;

				&::focus {
					box-shadow: none;
				}

				&:hover {
					cursor: default;
				}
			}
		}
	}

	.accordion-header.canopen button.accordion-button:focus {
		box-shadow: inset 0 0 3px 2px #aa0;
	}

	& > div.accordion-collapse {
		background: #fafafa;
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}
}

// The above css is reversed for rtl css files by rtlcss. So set things back to 'ltr' mode
// in problems that have 'ltr' set for the rtl css file.
/* rtl:raw:
.problem-content[dir="ltr"] .section-div > .accordion-header > button.accordion-button {
	padding: 0 1.25rem 0 0;
}

.problem-content[dir="ltr"] .section-div > .accordion-header > button.accordion-button::after {
	margin-right: unset !important;
	margin-left: auto;
}
*/
